<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>tackboard</title>
    <meta name="author" content="Artur Sapek">
    <link rel="shortcut icon" href="/static/img/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css">
    <script type="text/javascript">
    var sc_project=7839830; 
    var sc_invisible=1; 
    var sc_security="6d1cabb9"; 
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
</head>
<body>
    
    <div id="well_this_is_awkward">
    <div id="logo">tackboard</div>
        <br>
        Internet Explorer doesn't support tackboard.
        <br>
        Switch to any of these modern browsers.
        <br><br>
        <a href="https://www.google.com/chrome" target="new_tab" id="getchrome"></a>
        <a href="http://www.mozilla.org/en-US" target="new_tab" id="getfirefox"></a>
        <a href="http://www.apple.com/safari" target="new_tab" id="getsafari"></a>
        <a href="http://www.opera.com/download" target="new_tab" id="getopera"></a>
    </div>

</body>
</html>
