<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>tackboard</title>
    <meta name="author" content="Artur Sapek">
    <link rel="shortcut icon" href="/static/img/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/tackboard.css">
    <link rel="stylesheet" type="text/css" href="/static/css/splash.css">
    <script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/static/js/short.js" type="text/javascript"></script>
    <script type="text/javascript">
    var sc_project=7839830; 
    var sc_invisible=1; 
    var sc_security="6d1cabb9"; 
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
   </head>

<body>
    <div id="splash" class="inner_shadow_light">
        <div id="splash_logo" class="noselect">
            tackboard
        </div>
        <div id="splash_sub" class="noselect">
            a public board for events and looking-fors
        </div>        
        <div class="splash_module" id="m1">
            <div class="caption">Compose your poster</div>
        </div>
        <div class="splash_module" id="m2">
            <div class="caption">Find a spot on the board</div>
        </div>
        <div class="splash_module" id="m3">
            <div class="caption">Tack it on for everyone to see!</div>
        </div>
        <div id="divider"></div>
        <a href="risd" id="risds">RISD's tackboard »</a>
        <a href="brown" id="browns">Brown's tackboard »</a>
    </div>
    
    
  <div id="footer" class="noselect">
        

        an experiment built by <a href="http://artur.co" target="new_tab">Artur Sapek</a>
    </div>
</body>
</html>

